extends ../layout

block content
    h1 Add Carpart
    form.user_input(action='/carparts', method='post')
        label(for='name')
            span Part name
            input(type='text', name='name', id='name', required='true')
        label(for='description')
            span Description
            input(type='text', name='description', id='description', required='true')
        label(for='details.manufacturer')
            span Manufacturer
            br
            select.input_box(type="text", name="details.manufacturer", id="details.manufacturer", required="true")
                option UAZ
                option Moskvich Logo
                option Volga
        label(for='details.supplier')
            span Supplier
            br
            select.input_box(type="text", name="details.supplier", id="details.supplier", required="true")
                option Nikita
                option Alexey
                option Vladimir
        label(for="details.fits")
            span Fits Car Model
            br
            select.input_box(type="text", name="details.fits", id="details.fits", required="true")
                each car in car_list
                    option #{car.manufacturer} #{car.model} - #{car.details.year} - #{car.details.engine}
        label(for='details.inprice')
            span In Price
            br
            input.input_box(type='number', name='details.inprice', id='details.inprice', required='true', value='75')
        label(for='details.outprice')
            span Out Price
            br
            input.input_box(type='number', name='details.outprice', id='details.outprice', required='true', value='750')

        label.control-label(for='submit')
            span
            input(type='submit', id='submit', value='Save')