extends layout

block content
  h1 Welcome to #{title}
  if userid
    form.user_input(action='/search', method='post')
      label(for='search')
        span Customer Search
        input(type='text', name='search', id='search')
      label.control-label(for='submit')
        span
        input(type='submit', id='submit', value='Search')
    </div>
    br
    form.user_input(action='/search/carpart', method='post')
      label(for='search')
        span Carpart Search
        input(type='text', name='search', id='search')
      label.control-label(for='submit')
        span
        input(type='submit', id='submit', value='Search')
    </div>
  else
    br
    h2 Login to be able to search


