extends layout

block content
  h1 Welcome to #{title}
  if userid
    form.user_input(action='/search', method='post')
      label(for='search_cust')
        span Customer name search
        input(type='text', name='search_cust', id='search_cust')
      label.control-label(for='submit_cust')
        span
        input(type='submit', id='submit_cust', value='Search')
    br
    form.user_input(action='/search', method='post')
      label(for='search_carpart')
        span Carpart search
        input(type='text', name='search_carpart', id='search_carpart')
      label.control-label(for='submit_carpart')
        span
        input(type='submit', id='submit_carpart', value='Search')
  else
    br
    h2 Login to be able to search


