doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  body
    .layout-container
      .row
        .col-xs-4
          img.logo(src='/images/icon.png')
        .col-xs-4
          .title Bjarnes shopza
      .row
        .col-xs-4
          .menu-box
            a.menu(href="/") Search
            if userid
              a.menu(href="/dashboard") Dashboard
              a.menu(href="/carparts") List Carparts
              a.menu(href="/cars") List Cars
              a.menu(href="/users") List Customers
              a.menu(href="/carparts/add") Add Carpart
              a.menu(href="/cars/add") Add Car
              a.menu(href="/logout") Logout
            else
              a.menu(href="/users/add") New Customer
              a.menu(href="/login") Login

    block content
